Consulta 2
Esta consulta devuelve un diccionario con cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.

Ejemplo de retorno: {"Usuario X" : us213ndjss09sdf, "Dinero gastado": 200 USD, "% de recomendación": 20%, "cantidad de items": 5}

Importar las librerías necesarias para el procesamiento de los datos

In [9]:
import pandas as pd

importamos los archivos

In [10]:
Games = pd.read_csv(r'C:\Users\EFRAIN LINARES\Desktop\Henry PI 1\ETL\games_clean.csv')
df_items= pd.read_parquet(r'C:\Users\EFRAIN LINARES\Desktop\Henry PI 1\PI MLOps - STEAM\PARQUET\df_items_clean.parquet')
df_reviews = pd.read_parquet(r'C:\Users\EFRAIN LINARES\Desktop\Henry PI 1\PI MLOps - STEAM\PARQUET\df_review_clean.parquet')

In [11]:
df_games = pd.DataFrame(Games)

In [12]:
df_gamescopy = df_games.copy()
df_itemscopy = df_items.copy()
df_reviewscopy = df_reviews.copy()

In [13]:
df_gamescopy

,genres,app_name,release_date,tags,price,id,developer
0,Action,Lost Summoner Kitty,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",4.99,761140.0,Kotoshiro
1,Indie,Ironbound,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",NaN,643980.0,Secret Level SRL
2,Casual,Real Pool 3D - Poolians,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...",Free,670290.0,Poolians.com
3,Action,弹炸人2222,2017-12-07,"['Action', 'Adventure', 'Casual']",0.99,767400.0,彼岸领域
4,Action,Log Challenge,NaN,"['Action', 'Indie', 'Casual', 'Sports']",2.99,773570.0,NaN
...,...,...,...,...,...,...,...
32130,Casual,Colony On Mars,2018-01-04,"['Strategy', 'Indie', 'Casual', 'Simulation']",1.99,773640.0,"Nikita ""Ghost_RUS"""
32131,Casual,LOGistICAL: South Africa,2018-01-04,"['Strategy', 'Indie', 'Casual']",4.99,733530.0,Sacada
32132,Indie,Russian Roads,2018-01-04,"['Indie', 'Simulation', 'Racing']",1.99,610660.0,Laush Dmitriy Sergeevich
32133,Casual,EXIT 2 - Directions,2017-09-02,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...",4.99,658870.0,"xropi,stev3ns"
32134,Early Access,Maze Run VR,NaN,"['Early Access', 'Adventure', 'Indie', 'Action...",4.99,681550.0,NaN

In [14]:
df_itemscopy

                   user_id  items_count item_id  playtime_forever
0        76561197970982479          277      10               6.0
1        76561197970982479          277      20               0.0
2        76561197970982479          277      30               7.0
3        76561197970982479          277      40               0.0
4        76561197970982479          277      50               0.0
...                    ...          ...     ...               ...
5170010  76561198329548331            7  373330               0.0
5170011  76561198329548331            7  388490               3.0
5170012  76561198329548331            7  521570               4.0
5170013  76561198329548331            7  519140               3.0
5170014  edward_tremethick            0    None               NaN

[5170015 rows x 4 columns]

In [15]:
df_reviewscopy

,user_id,user_url,posted,item_id,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,Posted July 10.,70,True,a must have classic from steam definitely wort...
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,Posted July 8.,362890,True,this game is a perfect remake of the original ...
59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 3.,273110,True,had so much fun plaing this and collecting res...
59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 20.,730,True,:D
59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 2.,440,True,so much fun :D

Recopilamos información sobre un usuario dado, utilizando los siguientes pasos:

1)Conviertir las columnas 'user_id' de los DataFrames a tipo str.
2)Filtrar el DataFrame de items por el 'user_id' proporcionado.
3)Calcular la cantidad total de dinero gastado por el usuario en juegos.
4)Calcular la cantidad total de items adquiridos por el usuario.
5)Filtrar el DataFrame de reseñas por el 'user_id' proporcionado.
6)Calcular el porcentaje promedio de recomendación del usuario en sus reseñas.
7)Retornar un diccionario con el ID de usuario, el dinero gastado, el porcentaje de recomendación y la cantidad total de items adquiridos.

In [23]:
def userdata(User_id, items_copy, games_copy, reviews_copy):
    # Convertir la columna 'user_id' a str
    items_copy['user_id'] = items_copy['user_id'].astype(str)
    reviews_copy['user_id'] = reviews_copy['user_id'].astype(str)

# Filtrar df_Items por el user_id dado
    user_items = items_copy[items_copy['user_id'] == str(User_id)]

# Calcular la cantidad de dinero gastado por el usuario
# Convertir la columna 'price' a numérica
    games_copy['price'] = pd.to_numeric(games_copy['price'], errors='coerce')
    money_spent = user_items.merge(games_copy[['id', 'price']], left_on='item_id', right_on='id')['price'].sum()

# Calcular la cantidad total de items del usuario
    total_items = user_items['items_count'].sum()

# Filtrar df_reviews por el user_id dado
    user_reviews = reviews_copy[reviews_copy['user_id'] == str(User_id)]

# Calcular el porcentaje de recomendación promedio del usuario
    if user_reviews.shape[0] > 0:
        recommendation_percentage = (user_reviews['recommend'].sum() / user_reviews.shape[0]) * 100
    else:
        recommendation_percentage = 0

# Crear el diccionario de resultados
    result = {
        "Usuario": str(User_id),
        "Dinero gastado": f"{money_spent:.2f} USD",  # Ajustamos el formato para mostrar dos decimales
        "% de recomendación": f"{recommendation_percentage:.2f}%",
        "Cantidad de items": total_items
    }

    return result

In [26]:
# Ejemplo de uso: input:76561198070234207
usuario = input("Ingrese id de usuario: ")
resultado = userdata(usuario, df_itemscopy, df_gamescopy, df_reviewscopy)
print(resultado)

ValueError: You are trying to merge on object and float64 columns for key 'item_id'. If you wish to proceed you should use pd.concat