In [2]:
import pandas as pd

In [4]:
games = pd.read_csv(r'C:\Users\EFRAIN LINARES\Desktop\Henry PI 1\ETL\games_clean.csv')

In [5]:
df_games = pd.DataFrame(games)
df_games

,genres,app_name,release_date,tags,price,id,developer
0,Action,Lost Summoner Kitty,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",4.99,761140.0,Kotoshiro
1,Indie,Ironbound,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",NaN,643980.0,Secret Level SRL
2,Casual,Real Pool 3D - Poolians,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...",Free,670290.0,Poolians.com
3,Action,弹炸人2222,2017-12-07,"['Action', 'Adventure', 'Casual']",0.99,767400.0,彼岸领域
4,Action,Log Challenge,NaN,"['Action', 'Indie', 'Casual', 'Sports']",2.99,773570.0,NaN
...,...,...,...,...,...,...,...
32130,Casual,Colony On Mars,2018-01-04,"['Strategy', 'Indie', 'Casual', 'Simulation']",1.99,773640.0,"Nikita ""Ghost_RUS"""
32131,Casual,LOGistICAL: South Africa,2018-01-04,"['Strategy', 'Indie', 'Casual']",4.99,733530.0,Sacada
32132,Indie,Russian Roads,2018-01-04,"['Indie', 'Simulation', 'Racing']",1.99,610660.0,Laush Dmitriy Sergeevich
32133,Casual,EXIT 2 - Directions,2017-09-02,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...",4.99,658870.0,"xropi,stev3ns"
32134,Early Access,Maze Run VR,NaN,"['Early Access', 'Adventure', 'Indie', 'Action...",4.99,681550.0,NaN

In [6]:
# Assuming your DataFrame is named 'df_games'

# Explode genres, create dummies, and sum by game id
genres_dummies = (
    df_games['genres'].explode()
    .str.get_dummies()
    .groupby(level=0)
    .sum()
    .reset_index(drop=True)
)

# Combine game id with genre dummies
all_genres = pd.concat([df_games[['id']], genres_dummies], axis=1)

# Identify columns to keep (excluding those with any case of "&amp;")
keep_cols = all_genres.columns[~all_genres.columns.str.contains('&amp;', case=False)]

# Filter DataFrame to keep desired columns
all_genres = all_genres[keep_cols]

# Ensure unique column names (if necessary)
all_genres.columns = pd.unique(all_genres.columns)

all_genres

,id,360 Video,Accounting,Action,Adventure,Animation & Modeling,Anime,Arcade,Audio Production,Beat 'em up,...,Tutorial,Twin Stick Shooter,Utilities,VR,Video Production,Violent,War,Web Publishing,World War II,Zombies
0,761140.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,643980.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,670290.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,767400.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,773570.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32130,773640.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32131,733530.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32132,610660.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32133,658870.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32134,681550.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
all_genres.to_parquet(r'C:\Users\EFRAIN LINARES\Desktop\Henry PI 1\PI MLOps - STEAM\PARQUET\df_dommies_clean.parquet', index=False)